<h3>Login</h3>
<%= form_tag "/create_login_session" do %>
  <%= text_field_tag :name, params[:name], placeholder:"name" %>
  <%= text_field_tag :password, params[:password], placeholder:"password" %>
  <%= submit_tag "Login", class: "tiny round button" %>
<% end %>
