<br>
<div class="row">
  <div class="large-10 columns">
    <%= link_to image_tag("wiki.png", alt:"wiki"), root_path %>
  </div>
  <div class="large-2 columns">
    <br><%= link_to image_tag("snailegg_shadow.png", alt:"sanil_egg"), "mailto:coderliang@gmail.com?Subject=Hi%20Snow", :target=>"top" %>
  </div>
</div>

