<br>
<div class="row">
  <div class="large-8 large-offset-2 medium-9 columns">
    <!--call messages/index.html-->
    <%= yield %>
  </div>
  <div class="large-2 medium-3 columns">
    <div class="row">
      <br>
      <br>
      <div class="large-9 large-offset-3 columns">
        <%= yield :all_tags %>
      </div>
    </div>
  </div>
</div>

